*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:#f5f8f2;
}

.account-container{
    width:420px;
    background:#fff;
    padding:40px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.1);
    text-align:center;
}

.account-container h1{
    color:#355E3B;
    margin-bottom:30px;
    font-size:35px;
}

#registerForm{
    display:flex;
    flex-direction:column;
    gap:18px;
}

#registerForm input{
    width:100%;
    padding:14px;
    border:1px solid #d9d9d9;
    border-radius:10px;
    outline:none;
    font-size:16px;
    transition:.3s;
}

#registerForm input:focus{
    border-color:#355E3B;
}

#registerForm button{
    padding:14px;
    border:none;
    background:#355E3B;
    color:white;
    font-size:17px;
    border-radius:10px;
    cursor:pointer;
    transition:.3s;
}

#registerForm button:hover{
    background:#27452b;
}

.account-container p{
    margin-top:20px;
    color:#666;
}

.account-container a{
    color:#355E3B;
    text-decoration:none;
    font-weight:600;
}

.account-container a:hover{
    text-decoration:underline;
}